header{background-color:#FE950Cff ;}
h1{text-align:center; font-family: "Candara" ; color: rgb(255, 255, 255)}
h2{color: rgb(255, 255, 255); font-family: "Candara"}
h3 {font-family: 'Candara'; color: rgb(255, 255, 255);}
h4 {font-family: 'Candara', sans-serif;  }
p {font-family: 'Candara', sans-serif;}
#columnaizq{width: 30%;float: left;}
#columnader{width: 60%;float: right;}
#borja{width:100%;}
#fedebon{width:100%;}
#olicesio{width:100%;}
#julian{width:100%;}
#gobak{width:100%;}
#logotrama{width:30%;}
#logoboot{width:25%;}
ul{font-family: 'Candara';}
a {color:rgb(255, 255, 255)}


body{background-color: #CBCBCBff; color: rgb(255, 255, 255);}
footer{
  position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0rem;
background-color:rgb(31, 32, 43);
    text-align: center;}
.sponsors {
    background-color: rgb(230, 164, 90);
    overflow: hidden;
  }
.sponsors a {
    float: left; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-style: italic; color: rgb(255, 255, 255); font-family: "Candara" }
.sponsors a:hover {
    background-color: rgb(255, 255, 255);
    color: #FE8301ff;
  }

  #countdown {
    text-align: center; font-family: "Candara"; font-size: xx-large;}

  
    